<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>运荔枝模板项目</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx33373f1046219578</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixinULAPI</string>
		<string>weixin</string>
		<string>iosamap</string>
		<string>qqmap</string>
		<string>baidumap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>禁止后将无法访问你的媒体资料库</string>
	<key>NSCalendarsUsageDescription</key>
	<string>禁止后将无法访问你的日历</string>
	<key>NSCameraUsageDescription</key>
	<string>运荔枝司机 在上传回单、提交证件照片时需要使用你的相机</string>
	<key>NSContactsUsageDescription</key>
	<string>禁止后将无法访问你的通讯录</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>运荔枝司机 需要使用定位,如果你拒绝,将可能影响正常使用</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>运荔枝司机 需要使用定位,如果你拒绝,定位和地图部分功能将不能正常使用.使用这种持续定位方式,将会在后台消耗你的电量,你也可以在iOS的设置中修改定位模式</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>运荔枝司机 需要使用定位,如果你拒绝,定位和地图部分功能将不能正常使用</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>允许后才能录制声音</string>
	<key>NSMotionUsageDescription</key>
	<string>禁止后将无法访问你的运动与健康</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>运荔枝司机 在上传回单、提交证件照片时需要使用你的相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>运荔枝司机 在上传回单、提交证件照片时需要使用你的相册</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>禁止后将无法使用语音转换文字</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
